
.navbar {
  background-color: #222;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #444;
}


.navbar a.active {
  background-color: #ff9800;
  color: black;
}

body {
  margin: 0;
  font-family: Arial;
}
