body {
    background-color: rgb(202, 202, 226);
    color: black;
}


.greeting {
    text-align: center;
    color: rgb(174, 80, 95);
}

#header-photo {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

.headings {
        color: rgb(174, 80, 95)

}


#flex {
    text-align: center;
}

#intro {
    text-align: center; 
}

.content_inside_sections {
    text-align: justify;
}

h3 {
    text-align: center;
}

#aajoSaare {
    text-align: center;
}

#messageMe {
    text-align: center;
}
